<div class="grid-container">
  <div class="grid-item">pros</div>
  <div class="grid-item">cons</div>
  <div class="grid-item ">
    <app-list
            [todos]="cons"
            (remove)="onRemoveTodo($event, 'cons')"
            (update)="onUpdateTodo($event, 'cons')"
    >
    </app-list>
  </div>
  <div class="grid-item ">
    <app-list
            [todos]="pros"
            (remove)="onRemoveTodo($event, 'pros')"
            (update)="onUpdateTodo($event, 'pros')">
    </app-list>
  </div>
  <div class="grid-item ">
    <app-list-header
            (add)="onAddTodo($event,'cons')">
    </app-list-header>
  </div>
  <div class="grid-item ">
    <app-list-header
            (add)="onAddTodo($event,'pros')">
    </app-list-header>
  </div>

</div>

